/*底部*/

.footer .boundary{
	position: absolute;
	border: 1px solid #1BADB6;
    width: 1050px;
    top: 1262px;
    left: 139px;
}
.footer .links{
	position: absolute;
	left: 439px;
    top: 1272px;
}
.footer .links a, .copyright span{
    color: #999;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    white-space: nowrap;
    text-decoration: none;
}
.footer .links a:hover{
	color: #f60;
}
.footer .copyright {
	position: absolute;
    line-height: 22px;
    top: 1306px;
    left: 320px;
}
/*面包屑*/
.b_crumbs {
    height: 46px;
    z-index: 999;
    width: 100%;
    color: #666;
    font-size: 12px;
    font-family: tahoma;
    margin-left: 153px;
}
.b_crumbs .item {
    float: left;
    display: inline;
    line-height: 46px;
    padding-right: 10px;
    margin-right: 5px;
}
.item a {
    color: #0069ca;
    text-decoration: none;
}
.b_crumbs .item .e_arrow {
    right: 0;
    top: 1px;
    font-family: simsun;
}
.item strong{
	font-weight: normal;
	font-size: 12px;
}

/*内容*/
.connect{
	position: absolute;
	width: 100%;
	height: 1110px;
	background: #EBEBEB;
	margin-top: -46px;
}
.scenic_spot{
	background: #fff;
	border-radius: 10px;
	width: 388px;
	height: 242px;
	margin-left: 200px;
	margin-top: 78px;
	float: left;
	border: 3px solid;
	border-image: linear-gradient(#1badb6,#333)30 30;
}



.scenic_spot .scenic_spot_img{
	margin-top: 30px;
    margin-left: 29px;
}
.scenic_spot_img img{
	overflow: hidden;
	width: 153px;
	height: 140px;
}

.scenic_spot_txt{
	
}
.scenic_spot_txt .scenic_spot_name{
	font-size: 24px;
	font-weight: normal;
	font-family: "微软雅黑";
	color: #c57713;
	animation: Glow 1.5s  infinite;
	-webkit-animation: Glow 1.5s  infinite;
	-moz-animation: Glow 1.5s infinite;
	-webkit-transition: all 3s ease;
	-moz-transition: all 3s ease;
	transition: all 3s ease;
}
@keyframes Glow{
	0%{text-shadow: 0 0 2px #FF7400;}
	10%{text-shadow: 0 0 4px #FF7400;}
	20%{text-shadow: 0 0 6px #FF7400;}
	30%{text-shadow: 0 0 8px #FF9C00;}
	40%{text-shadow: 0 0 9px #FF9C00;}
	50%{text-shadow: 0 0 10px #FF9C00;}
	60%{text-shadow: 0 0 11px #FF9C00;}
	65%{text-shadow: 0 0 1px #FF7400;}
	70%{text-shadow: 0 0 2px #FF7400;}
	75%{text-shadow: 0 0 3px #FF7400;}
	80%{text-shadow: 0 0 5px #FF9C00;}
	85%{text-shadow: 0 0 7px #FF9C00;}
	90%{text-shadow: 0 0 9px #FF9C00;}
	95%{text-shadow: 0 0 11px #FF9C00;}
	100%{text-shadow: 0 0 12px #FF9C00;}
	
	
}
@-weblit-keyframes Glow{
	0%{text-shadow: 0 0 2px #FF7400;}
	10%{text-shadow: 0 0 4px #FF7400;}
	20%{text-shadow: 0 0 6px #FF7400;}
	30%{text-shadow: 0 0 8px #FF9C00;}
	40%{text-shadow: 0 0 9px #FF9C00;}
	50%{text-shadow: 0 0 10px #FF9C00;}
	60%{text-shadow: 0 0 11px #FF9C00;}
	65%{text-shadow: 0 0 1px #FF7400;}
	70%{text-shadow: 0 0 2px #FF7400;}
	75%{text-shadow: 0 0 3px #FF7400;}
	80%{text-shadow: 0 0 5px #FF9C00;}
	85%{text-shadow: 0 0 7px #FF9C00;}
	90%{text-shadow: 0 0 9px #FF9C00;}
	95%{text-shadow: 0 0 11px #FF9C00;}
	100%{text-shadow: 0 0 12px #FF9C00;}
}
@-moz-keyframes Glow{
	0%{text-shadow: 0 0 2px #FF7400;}
	10%{text-shadow: 0 0 4px #FF7400;}
	20%{text-shadow: 0 0 6px #FF7400;}
	30%{text-shadow: 0 0 8px #FF9C00;}
	40%{text-shadow: 0 0 9px #FF9C00;}
	50%{text-shadow: 0 0 10px #FF9C00;}
	60%{text-shadow: 0 0 11px #FF9C00;}
	65%{text-shadow: 0 0 1px #FF7400;}
	70%{text-shadow: 0 0 2px #FF7400;}
	75%{text-shadow: 0 0 3px #FF7400;}
	80%{text-shadow: 0 0 5px #FF9C00;}
	85%{text-shadow: 0 0 7px #FF9C00;}
	90%{text-shadow: 0 0 9px #FF9C00;}
	95%{text-shadow: 0 0 11px #FF9C00;}
	100%{text-shadow: 0 0 12px #FF9C00;}
}
.scenic_spot_txt .news{
	font-size: 16px;
	font-family: "微软雅黑";
	color: #333333;
	line-height: 44px;
}
.scenic_spot_txt .locale{
	font-family: "微软雅黑";
	font-size: 13px;
	color: #666666;
}

.scenic_spot_dele img{
	margin-left: 228px;
	margin-top: 54px;
	width: 36px;
}


.scenic_spot_dele .more{
	position: absolute;
	font-family: "微软雅黑";
	font-size: 15px;
	color: #333333;
	text-decoration: none;
}
.scenic_spot_dele .more:hover{
	color: #1BADB6;
}
/*.scenic_spot .xian{
	border:1px dashed #E0E0E0;
	width: 980px;
	margin-top: 28px;
	margin-left: 166px;
}*/
