/*轮播*/
*{
	list-style: none;
}
.content{
	width: 100%;
	overflow: hidden;
}
.content .scroll {
	width: 1349px;
	overflow: hidden;
			
}
.content .scroll .container {
	width: 9000px;
}
 .scroll .container div{
	float: left;
	height: 451px;
	width: 1349px;
	position: relative;
}

.scroll .container  .title .span1{
	display:block;
	position: absolute;
	width: 600px;
	height: 54px;
	color: #fff;
	font-size: 63px;
	text-align: center;
	line-height: 49px;
	z-index: 3;
	margin-left: 352px;
	margin-top:-288px;
	
}
.scroll .container  .title .span2{
	display:block;
	position: absolute;
	width: 600px;
	height: 54px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	line-height: 49px;
	z-index: 3;
	margin-left: 5px;
	margin-top:21px;
}
/*目的地推荐*/
.mddtj{
	position: absolute;
	background: #f4f4f4;
	height: 828px;
	width: 100%;
	margin-top: -83px;
}
.wrap{
	position: relative;
	margin: 0 auto;
	margin-top: 35px;
	width: 1200px;
}
.wrap .title h2{
	font-weight: normal;
	font-size: 26px;
	font-family: "微软雅黑";
	color: #333;
}
.mddtj .wrap .title .lf{
	float: left;
}
.left{
	float: left;
}
.wrap .title ul{
	position: relative;
	top: -16px;
	list-style: none;
}
.wrap .rt{
	float: right;
}
.wrap .title_tab{
	position: relative;
	height: 26px;
	line-height: 26px;
	color: #666;
}
.wrap .tit_vline{
	color: #666;
}
.wrap .current .title_tab{
	background: #3cb0d0;
	color: #fff;
	border-radius: 3px;
	padding: 5px 9px;
	margin-left: -6px;
}
.wrap .list{
	margin-left: -20px;
	margin-top: 10px;
	height: 433px;
	overflow: hidden;
}
.wrap .list_bg, .wrap .list_small{
	position: relative;
	margin: 20px 0 0 20px;
	background: #fff;
	float: left;
}
.list_bg{
	width: 486px;
}
.wrap .city_name{
	display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.wrap .city_name .name{
	text-decoration: none;
    font-size: 20px;
    bottom: 43px;
    position: absolute;
    left: 207px;
    color: #fff;
	
}
.wrap .detail{
	position: relative;
    text-align: center;
    line-height: 36px;
    height: 36px;
    overflow: hidden;
    color: #999;
}
/*周边游*/
.around{
	top: 1050px;
    position: absolute;
    left: 77px;
}
.around .wrap {
    padding-bottom: 45px;
}
.around .title {
    position: relative;
    z-index: 100;
}
.around .select {
    position: relative;
    top: -28px;
    width: 94px;
    height: 24px;
    left: 109px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
}
.around .title ul{
	position: relative;
	top: 18px;
}
.around .select .opt {
    position: absolute;
    padding: 10px 0 10px 10px;
    font-size: 12px;
    top: 25px;
    width: 384px;
    list-style: none;
    border: 1px solid #63c3d6;
    background-color: #fff;
}
.around .select .opt_item {
    float: left;
    width: 48px;
    line-height: 30px;
    cursor: pointer;
}
.opt_item a, .opt_item a:hover {
    display: block;
    color: #333;
    text-decoration: none;
}
.opt_item a:hover, .opt_item a.current {
    color: #3cb0d0;
}
